<head>
    <title>TinyApp</title>
</head>
<% include ../views/partials/_header %>
    <body>
        <form action="/login" method="post">
            <input name="email">
            <input name="password" type="password">
            <button>Sign In</button>
        </form>
        <button><a href="/register">Get an Account!?</a></button>
    </body>
